<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
{% block content %}
{%for k in kegiatan%} 

<div class="card" style="width: 18rem;">
    <div class="card-header justify-content-center" style="text-align: center;">{{k.event}}</div>
    <div class="card-body">
        <table>
            {% for p in peserta %} {% if p.kegiatan.event == k.event %}
            <p class="card-text">{{p.register}}</p>
            {% endif %} {% endfor %}
        </table>
     </div>
     <a class="btn btn-secondary" role="button" href = "{% url 'main:tambahPeserta' k.id %}" >Tambah Peserta</a> 

</div>

{%endfor%}

{% endblock %}