<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
{% block content %}
<div class="card" style="width: 18rem;">
  
  <div class="card-body">
  <form method='POST'>
    {% csrf_token %} {{ form.as_p }}
    <input type='submit' value='Tambah' style="background-color: #b17b45;" />
  </form>
 
  </div>
</div>
{% endblock %}